.container {
  padding: 0 2rem;
  padding-top: 1rem;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.back{
  padding: 0 2rem;
  color: grey;
  opacity: 50%;
  font-size: 0.7em;
  text-align: left;
  font-style: italic;
}

